@media only screen and (max-width: 991px) {
    body{
        section{
            &.focus-section{
                div.section-content{
                    float: none;
                    padding-left: 0;
                    text-align: center;
                    margin-top: 30px;

                    p{
                        margin: 17px auto 0 auto;
                    }
                }
            }

            &.clients-section{
                padding-top: 75px;

                div.commas-wrapper{
                    text-align: center;
                }

                div.section-content{
                    &.commas{
                        display: inline-block;
                        margin: 44px auto 77px auto;
                    }

                    h4{
                        max-width: 295px;
                        margin: 0 auto;
                    }

                    div.clients-wrapper{
                        div.image-wrapper{
                            margin-left: 0 !important;
                            max-width: 100%;

                            &.ict{
                                margin-right: 0;
                                text-align: center;
                            }

                            &.myriad{
                                text-align: center;
                            }
                        }
                    }

                    div.box-wrapper{
                        margin: 0;
                    }
                }
            }

            &.services-section{
                margin-top: 0;

                div.section-content{
                    margin-left: 0;
                    margin-top: -25px;
                    text-align: center;

                    h4{
                        max-width: 390px;
                        margin: 0 auto;
                        text-align: left;
                    }

                    p{
                        max-width: 390px;
                        text-align: left;
                        margin: 12px auto 0 auto;
                    }

                    ul.services{
                        max-width: 390px;
                        text-align: left;
                        margin: 21px auto 0 auto;
                    }
                }
            }

            &.contact-section{
                margin-top: 75px;
                background: none;
                background-image: url(../../images/contact-section-mask.png);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: 0 267px;

                div.section-content{
                    &.form-heading{
                        max-width: 390px;
                        margin: 0 auto;
                    }

                    div.box-wrapper.form-box{
                        max-width: 360px;
                        margin: 66px auto;
                    }
                }
            }
        }

        div.media-wrapper{
            &.focus-section-media{
                display: block;
                margin: 0 auto;
                width: 538px;
            }

            &.services-section-media{
                width: 100%;
                text-align: center;

                img{
                    left: 0;
                    top: 0;
                    max-height: 400px;
                }
            }

            &.contact-section-media{
                min-height: 403px;
                width: 100%;

                img{
                    left: calc(~'50% - 348px');
                    right: auto;
                }
            }
        }

        footer{
            div.footer-wrapper div.copyright{
                font-size: 10px;
                font-weight: 500;
                line-height: 14px;
                text-align: center;
            }
        }
    }
}
@media only screen and (max-width: 910px) {
    body{
        section{
            &.methods-section{
                div.section-content{
                    div.features-wrapper{
                        &:before{
                            max-width: 500px;
                            background-position: 50% 0;
                            left: calc(~'50% - 250px');
                        }
                    }
                }
            }
        }
    }
}