@media only screen and (max-width: 767px) {
    body{
        div.logo-wrapper{
            padding-top: 50px;

            img{
                max-width: 169px;
            }
        }

        div.media-wrapper{
           &.heading-section-media{
               display: none;
           }

            &.focus-section-media{
                width: 310px;
                min-height: 320px;

                div.media-text{
                    width: 200px;
                    height: 200px;
                    text-align: center;
                    padding: 41px 10px;

                    p{
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 39px;
                        margin-top: 15px;

                        br{
                            display: none;
                        }
                    }
                }

                img:nth-of-type(1),img:nth-of-type(2){
                    display: none;
                }

                img:nth-of-type(3){
                    bottom: auto;
                    top: 140px;
                    left: 56px;
                }
            }

            &.services-section-media{
                width: 100%;
                text-align: left;

                img{
                    left: -205px;
                }
            }

            &.contact-section-media{
                min-height: 228px;
                overflow-x: hidden;
                overflow-y: hidden;

                img{
                    max-width: 405px;
                    left: calc(~'50% - 202.5px');
                }
            }
        }

        section{
            &.heading-section{
                margin-top: 92px;
                padding-bottom: 65px;

                h1{
                    font-size: 48px;
                    font-weight: 500;
                    line-height: 66px;
                    text-align: center;
                    margin: 0 auto;
                    max-width: 265px;
                }

                p.sub-heading{
                    text-align: center;
                    margin-top: 21px;
                    margin-bottom: 0;
                }

                a.cta{
                    margin: 45px auto 0 auto;
                    display: block;
                }
            }

            &.focus-section{
                margin-top: 25px;

                div.section-content{
                    margin-top: 68px;

                    h4{
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 33px;
                    }

                    p{
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 20px;
                        margin: 19px auto 0 auto;
                    }
                }
            }

            &.clients-section{
                padding-top: 70px;

                div.section-content{
                    h4{
                        text-align: center;
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 40px;

                        span{
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 25px;
                        }
                    }

                    div.clients-wrapper{
                        margin-top: 42px;
                        margin-left: 0;

                        div.image-wrapper{
                            margin-bottom: 59px;

                            &.myriad{
                                margin-top: 0;
                            }
                        }
                    }

                    &.commas{
                        margin-top: 46px;

                        &:before, &:after{
                            width: 85px;
                            height: 85px;
                            background-size: cover;
                        }

                        &:before{
                            top: -55px;
                            left: -20px;
                        }

                        &:after{
                            bottom: -50px;
                            right: -18px;
                        }

                        div.box-wrapper{
                            max-width: 300px;
                            p{
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }

            &.methods-section{
                margin-top: 83px;

                div.section-content{
                    h4{
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 33px;
                    }

                    div.features-wrapper{
                        padding: 0 10px;
                        display: inline-block;
                        max-width: 350px;
                        margin-top: 15px;

                        &:before{
                            max-width: 350px;
                            background-position: 0 0;
                            transform: rotate(90deg);
                            left: -119px;
                            top: 237px;
                        }

                        & > div > div:first-of-type div.feature{
                            margin-top: 0;
                        }

                        div.feature{
                            margin-top: 40px;

                            &.highlight{
                                div.feature-media{
                                    width: 90px;
                                    height: 90px;
                                    padding: 2px;

                                    div.image-wrap{
                                        width: 86px;
                                        height: 86px;
                                    }
                                }

                                div.feature-content{
                                    h5{
                                        color: transparent;
                                        background-image: linear-gradient(129.4deg,#3a539b 0,#3984dd 100%);
                                        color: transparent;
                                        -webkit-background-clip: text;
                                        background-clip: text;
                                    }
                                }
                            }

                            div.feature-media{
                                display: inline-block;
                                vertical-align: middle;
                                max-width: 90px;
                                margin-bottom: 0;

                                div.image-wrap{
                                    width: 90px;
                                    height: 90px;
                                    img{
                                        width: 25px;
                                    }
                                }
                            }

                            div.feature-content{
                                display: inline-block;
                                vertical-align: middle;
                                width: calc(~'100% - 90px');
                                padding-left: 43px !important;

                                h5{
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 19px;
                                    margin-bottom: 4px;
                                    color: rgba(91,91,91,0.9);
                                    background-image: none;
                                }

                                ul{
                                    margin-bottom: 0;

                                    li{
                                        font-size: 12px;
                                        font-weight: 500;
                                        line-height: 23px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.services-section{
                overflow: hidden;
                div.section-content{
                    h4{
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 40px;
                        text-align: center;

                        span.heading-caption{
                            margin-bottom: 14px;
                        }

                        br:not(.visible){
                            display: none;
                        }
                    }

                    p{
                        margin-top: 10px;
                        max-width: 305px;
                        text-align: center;
                    }

                    ul.services{
                        max-width: 295px;
                        margin-top: 22px;

                        li{
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 30px;
                            padding-left: 3px;
                            white-space: pre;
                        }
                    }
                }
            }

            &.contact-section{
                margin-top: 78px;
                background-position: 0 255px;

                div.section-content{
                    h4{
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 33px;
                        text-align: center;
                    }

                    p{
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 26px;
                        text-align: center;

                        max-width: 290px;
                        margin: 13px auto;
                    }

                    div.box-wrapper.form-box{
                        margin: 65px auto 81px auto;
                        padding-top: 35px;

                        div.tab-content {
                            padding-top: 0;
                        }

                        div.form-group{
                            &:focus{
                                outline: none;
                            }

                            span.select2{
                                width: 100% !important;

                                &:focus, &.focus{
                                    outline: none !important;
                                }

                                span.selection{
                                    &:focus{
                                        outline: none !important;
                                    }
                                }

                                span.select2-selection{
                                    &:focus{
                                        outline: none !important;
                                    }

                                    border: 1px solid rgba(32,53,128,.3);
                                    border-radius: 3px;
                                    background-color: rgba(32,53,128,.01);
                                    min-height: 50px;
                                    padding: 12px;
                                    color: #000;
                                    font-family: LatoWeb,sans-serif;
                                    font-size: 14px;
                                    line-height: 19px;
                                    resize: none;
                                    text-align: left;

                                    & > span.select2-selection__rendered{
                                        padding-left: 0;
                                        background-image: linear-gradient(129.4deg, #3A539B 0%, #3984DD 100%);
                                        color: transparent;
                                        -webkit-background-clip: text;
                                        background-clip: text;
                                    }

                                    span.select2-selection__arrow{
                                        top: 13px;
                                        right: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        ul.select2-results__options{
            li{
                background: #ffffff !important;
                color: rgba(0,0,0,.6) !important;
                opacity: 1 !important;
                font-family: LatoWeb,sans-serif;
                font-size: 14px;
                line-height: 19px;
            }
        }

        footer{
            div.footer-wrapper{
                padding: 21px 0 62px 0;
            }
        }
    }
}
@media only screen and (max-width: 400px) {
    body{
        section{
            &.methods-section{
                div.section-content{
                    div.features-wrapper{
                        padding-right: 0;

                        &:before{
                            max-width: 290px;
                            background-position: 0 0;
                            transform: rotate(90deg);
                            left: -88px;
                            top: 246px;
                        }

                        div.feature div.feature-content{
                            ul li, h4{
                                white-space: pre;
                            }

                            padding-left: 30px !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    body{
        div.media-wrapper{
            &.contact-section-media{
                img{
                    max-width: calc(~'100% + 30px');
                    left: -15px;
                }
            }
        }
    }
}

@media only screen and (max-width: 339px) {
    body {
        div.media-wrapper.focus-section-media img:nth-of-type(3){
            left: auto;
            right: -10%;
        }

        section{
            &.methods-section{
                div.section-content{
                    div.features-wrapper{
                        div.feature div.feature-content{
                            padding-left: 20px !important;
                        }
                    }
                }
            }
        }
    }
}