@media only screen and (max-width: 1138px) {
    body{
        div.media-wrapper{
            &.heading-section-media img{
                left: -60px;
            }

            &.services-section-media img{
                left: -340px;
            }
        }

        section{
            &.focus-section{
                div.section-content{
                    float: right;
                }
            }

            &.methods-section{
                div.section-content{
                    div.features-wrapper{
                        &:before{
                            background-position: 55% 0;
                        }

                        div.feature div.feature-content{
                            padding-left: 0 !important;
                        }
                    }
                }
            }

            &.clients-section{
                div.clients-wrapper{
                    div.image-wrapper{
                        &.fonedynamics{
                            margin-left: 15px;
                        }

                        &.ict{
                            margin-right: 5%;
                            text-align: right;
                        }

                        &.myriad{
                            margin-left:0;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1138px) {
    body{
        section{
            &.methods-section{
                div.section-content{
                    div.features-wrapper{
                        &:before{
                            max-width: 760px;
                            background-position: 50% 0;
                            left: calc(~'50% - 380px');
                        }
                    }
                }
            }
        }
    }
}