@import "fonts";

body{
  background: #ffffff;

  div.logo-wrapper{
    padding-top: 71px;
  }

  div.container{
    max-width: 1190px;
  }

  section{
    overflow-x: hidden;
    overflow-y: auto;

    &.heading-section{
      margin-top: 35px;

      h1{
        font-family: LatoWeb, sans-serif;
        font-size: 64px;
        font-weight: 500;
        line-height: 87px;
        max-width: 340px;

        span{
          font-style: italic;
          font-weight: 600;
        }
      }

      p.sub-heading{
        font-family: LatoWeb, sans-serif;
        color: #313131;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        margin-top: 62px;
      }

      a.cta{
        display: inline-block;
        width: 244px;
        min-height: 63px;
        border-radius: 45px;
        background-color: #FFFFFF;
        box-shadow: 0 32px 75px 0 rgba(0,0,0,0.2);
        text-align: center;
        padding: 19px 0;
        margin-top: 55px;

        font-family: LatoWeb, sans-serif;

        span{
          display: inline-block;
          font-size: 18px;
          font-weight: 500;
          line-height: 25px;
        }

        &:hover{
          text-decoration: none;
        }
      }
    }

    &.focus-section{
      margin-top: 20px;
      min-height: 560px;

      div.section-content{
        padding-left: 35px;

        p{
          max-width: 365px;
        }
      }
    }

    &.clients-section{
      padding-top: 105px;

      div.clients-wrapper{
        margin-top: 77px;
        margin-left: -3px;

        div.image-wrapper{
          max-width: 250px;
          margin-bottom: 81px;

          &.fonedynamics{
            margin-left: 15px;
          }

          &.ict{
            margin-right: 10px;
          }

          &.myriad{
            margin-left: -15px;
            margin-top: 7px;
          }
        }
      }

      div.section-content.commas{
        position: relative;
        &:before, &:after{
          content: '';
          display: block;
          position: absolute;

          background-image: url(../../images/comma.svg);
          background-repeat: no-repeat;

          width: 112px;
          height: 112px;
        }

        &:before{
          top: -75px;
          left: -55px;
          z-index: 2;
        }

        &:after{
          z-index: 2;
          transform: rotate(180deg);
          bottom: -76px;
          right: -54px;
        }

        div.box-wrapper{
          position: relative;
          padding: 18px 44px 27px;
          z-index:5;

          div.slides-wrapper{
            position: relative;
            overflow-x: hidden;

            div.slide{
              display: none;

              &.active{
                display: inline-block;
              }
            }
          }

          div.arrows-wrapper{
            a.slide-arrow{
              height: 42px;
              width: 42px;
              border: 2px solid #E9EBF4;
              border-radius: 50%;

              display: inline-block;
              padding: 6px 0;
              text-align: center;

              &[disabled]{
                opacity:0.4;
              }

              img{
                width: 20px;
              }

              &.left{
                img{
                  transform: rotate(-180deg);
                }
              }
            }
          }
        }
      }
    }

    &.methods-section{
      margin-top: 125px;

      div.section-content{
        text-align: center;

        h4{
          text-align: center;
        }

        p{
          display: inline-block;
          max-width: 620px;
          margin-top: 5px;
        }

        div.features-wrapper{
          margin-top: 67px;
          position: relative;

          &:before{
            content: '';
            display: block;
            position: absolute;

            background-image: url(../../images/dotted-border.svg);
            background-repeat: no-repeat;
            background-position: 49% 0;

            width: 100%;
            min-height: 6px;
            left:0;
            top: 78px;
          }

          div.row > div {
            &:nth-of-type(1){
              div.feature div.feature-content{
                padding-left: 70px;
              }
            }

            &:nth-of-type(2){
              div.feature div.feature-content{
                padding-left: 60px;
              }
            }

            &:nth-of-type(3){
              div.feature div.feature-content{
                padding-left: 10px;
              }
            }
          }

          div.feature{
            &.highlight{
              div.feature-media{
                background-image: linear-gradient(129.4deg, #3A539B 0%, #3984DD 100%);
                width: 162px;
                height: 162px;
                border-radius: 50%;
                display: inline-block;
                padding: 6px;

                div.image-wrap{
                  width:150px;
                  height:150px;
                  border-color: transparent;
                  background: linear-gradient(180deg, #FBFCFE 0%, #F4F8FC 100%);
                  box-shadow: 0 2px 54px 0 rgba(61,71,181,0.5);
                }
              }
            }

            div.feature-media{
              margin-bottom: 41px;

              div.image-wrap{
                display: inline-block;
                width: 162px;
                height: 162px;

                border: 6px solid #FFFFFF;
                background: #F4F8FC;
                border-radius: 50%;
                margin: 0 auto;

                img{
                  margin: 0 auto;
                }
              }
            }

            div.feature-content{
              display: inline-block;
              text-align: left;

              h5{
                font-family: LatoWeb, sans-serif;
                font-size: 18px;
                font-weight: 500;
                line-height: 25px;

                margin-bottom: 20px;
              }

              ul{
                display: inline-block;
                list-style-type: none;
                padding-left: 0;

                li{
                  text-align: left;
                  color: rgba(0,0,0,0.57);
                  font-family: LatoWeb, sans-serif;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 26px;
                }
              }
            }
          }
        }
      }
    }

    &.services-section{
      margin-top: 20px;
      padding-top: 15px;
      overflow: visible;

      div.section-content{
        margin-left: -25px;
        p{
          max-width: 350px;
          margin-top: 12px;
        }

        ul.services{
          list-style-image: url(../../images/list-check.svg);
          padding-left: 25px;
          margin-top: 21px;

          li{
            color: rgba(0,0,0,0.57);
            font-family: LatoWeb, sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 40px;
            padding-left: 8px;
          }
        }
      }
    }
    
    &.contact-section{
      margin-top: 165px;

      background: rgba(255,255,255,1);
      background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62.8%, rgba(58,82,155,1) 62.8%, rgba(58,82,155,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(62.8%, rgba(255,255,255,1)), color-stop(62.8%, rgba(58,82,155,1)), color-stop(100%, rgba(58,82,155,1)));
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62.8%, rgba(58,82,155,1) 62.8%, rgba(58,82,155,1) 100%);
      background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62.8%, rgba(58,82,155,1) 62.8%, rgba(58,82,155,1) 100%);
      background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62.8%, rgba(58,82,155,1) 62.8%, rgba(58,82,155,1) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62.8%, rgba(58,82,155,1) 62.8%, rgba(58,82,155,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3a529b', GradientType=0 );

      overflow-y: visible;
      overflow-x: visible;

      div.section-content{

        &.media-content{
          margin-top: 8px;
        }

        div.box-wrapper.form-box{
          padding: 8px 25px 25px 25px;
          max-width: 420px;
          margin-top: 13px;
          margin-bottom: 0;
          margin-left: 5px;

          ul.nav-tabs{
            border-bottom: 2px solid #f7f7f7;

            li.nav-item{
              width: 50%;
              display: inline-block;
              margin-bottom: -2px;

              a.nav-link{
                color: #000000;
                font-family: LatoWeb, sans-serif;
                font-size: 18px;
                line-height: 40px;
                border-bottom-width: 2px;
                margin-top: -1px;

                &:hover{
                  border-color: transparent;
                }

                &.active{
                  background-image: linear-gradient(129.4deg, #3A539B 0%, #3984DD 100%);
                  color: transparent;
                  -webkit-background-clip: text;
                  background-clip: text;

                  border:none;
                  border-bottom: 2px solid #0D19A3;
                  margin-top: 0;
                }
              }
            }
          }

          div.tab-content{
            padding-top: 26px;
          }

          form.form{

            &.sent {
              div.form-group button.btn-submit{
                position: relative;

                &:after{
                  content: '';
                  display: block;
                  background-image: url(../../images/list-check.svg);
                  width: 16px;
                  height: 12px;
                  position: absolute;
                  right: 12px;
                  top: 19px;
                }
              }
            }

            div.form-group{
              margin-bottom: 0;

              & + div.form-group{
                margin-top: 15px;
              }

              label.error{
                display: none !important;
              }

              input.form-control,
              textarea.form-control{
                border: 1px solid rgba(32,53,128,0.3);
                border-radius: 3px;
                background-color: rgba(32,53,128,0.01);
                min-height: 50px;
                padding: 12px;

                color: #000000;
                font-family: LatoWeb, sans-serif;
                font-size: 14px;
                line-height: 19px;
                resize: none;

                &.error{
                  color: #721c24;
                  background-color: #f8d7da;
                  border-color: #f5c6cb;
                }

                &:focus{
                  outline: none;
                  box-shadow: none;
                }

                &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder{
                  color: rgba(0,0,0,.25);
                }

              }

              textarea.form-control{
                min-height: 120px;
              }

              button.btn-submit{
                margin-top: 8px;
                border: 1px solid rgba(32,53,128,0.16);
                border-radius: 3px;
                background: linear-gradient(129.4deg, #3A539B 0%, #3984DD 100%);

                width: 100%;
                min-height: 50px;

                color: #FFFFFF;
                font-family: LatoWeb, sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;
                text-align: center;

                &:focus{
                  outline: none;
                  box-shadow: none;
                }
              }
            }
          }
        }
      }
    }

    div.section-content{
      span.heading-caption{
        display: inline-block;
        margin-bottom: 11px;

        font-family: LatoWeb, sans-serif;
        color: #000000;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
      }

      h4{
        font-family: LatoWeb, sans-serif;
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;

        span.bold{
          font-weight: 600;
        }
      }

      p{
        margin-top: 17px;
        font-family: LatoWeb, sans-serif;
        color: rgba(0,0,0,0.57);
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
      }

      div.box-wrapper{
        border-radius: 6px;
        background-color: #FFFFFF;
        box-shadow: 0 24px 74px 0 rgba(58,83,155,0.25);
        text-align: center;

        max-width: 440px;
        padding: 18px 44px;
        margin: 44px 0 77px 22px;

        p{
          font-family: LatoWeb, sans-serif;
          color: rgba(0,0,0,0.7);
          font-size: 18px;
          font-weight: 500;
          line-height: 40px;
          text-align: center;
          margin-bottom: 0;

          &.name{
            color: #000000;
            margin: 5px 0 20px 0;
          }
        }
      }
    }
  }

  div.media-wrapper{
    position: relative;
    display: inline-block;

    &.heading-section-media{
      img{
        left: -80px;
        position: relative;
      }
    }

    &.focus-section-media{
      min-height: 507px;

      div.media-text{
        height: 306px;
        width: 256px;
        padding: 71px 30px;

        border-radius: 6px;
        background: linear-gradient(129.4deg, #3A539B 0%, #3984DD 100%);
        box-shadow: 0 52px 85px 0 rgba(58,83,155,0.5);

        position: relative;
        z-index: 2;

        span.focus{
          font-family: LatoWeb, sans-serif;
          color: #FFFFFF;
          font-size: 18px;
          font-weight: 500;
          line-height: 25px;
        }

        p{
          font-family: LatoWeb, sans-serif;
          color: #FFFFFF;
          font-size: 36px;
          font-weight: 500;
          line-height: 39px;

          margin-top: 18px;
          margin-bottom: 0;
        }
      }

      img{
        position: absolute;
        z-index: 1;

        &:nth-of-type(1){
          top: 14px;
          left: 205px;
        }

        &:nth-of-type(2){
          top: 130px;
          left: 161px;
        }

        &:nth-of-type(3){
          left: -28px;
          bottom: -42px;
        }
      }
    }

    &.services-section-media{
      img{
        position: relative;
        left: -270px;
        top: 110px;
      }
    }

    &.contact-section-media{
      img{
        position: absolute;
        left: -50px;
        top: -16px;
      }
    }
  }

  footer{
    padding-top: 35px;
    background-color: #3a539b;

    div.footer-wrapper{
      padding: 53px 0;

      div.copyright{
        opacity: 0.44;
        color: #FFFFFF;
        font-family: LatoWeb, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;

        padding-top: 4px;
      }

      ul.footer-nav{
        list-style-type: none;
        padding-left: 0;
        margin: 0;

        li{
          display: inline-block;

          & + li{
            margin-left: 37px;
          }

          a{
            color: #E3E3E3;
            font-family: LatoWeb, sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            text-transform: uppercase;

            &:hover{
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .text-gradient{
    background-image: linear-gradient(129.4deg, #3A539B 0%, #3984DD 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .text-gradient, section.contact-section div.section-content div.box-wrapper.form-box ul.nav-tabs li.nav-item a.nav-link.active{
      background-image: none;
      color:#3A539B;
    }
  }
}

@import "responsive-lg";
@import "responsive-md";
@import "responsive-sm";
@import "responsive-xs";